/ex_01.py
/modul_08.py
/modul_3_konspekt.py
/modul_4_konspekt.py
/modul_5_konspekt.py
/modul_6.py
/test.txt
/test_03_02_2023.py
/test_04022023.py
/test_2_modul_15.py
/test_30_01_2023.py
/test_31_01_2023.py
/tetetetet.py
/_test0302.py